h1
{
    background-color: aqua;
}

.KTM
{
    background-color: blueviolet;
}

.Triumph
{
    background-color: blanchedalmond;
}

.GT-650
{
    background-color: rgb(165, 42, 56);
}

.MT-15
{
    background-color: aquamarine;
}

.class
{
    background-color: rgb(255, 253, 205);
}

.name
{
    background-color: darkkhaki;
}